.arrow-icon {
    font-size: 2rem;
    margin: 0 1rem;
}
.arrow-icon:hover {
    cursor: pointer;
    color: rgb(157, 68, 241);
}
.comment-container {
    width: 50vw;
    border: 1px solid black;
}
.comment-header {
    display: flex;
    align-items: center;

}