.individual-post-container {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
}
.vote-container {
    display: flex;
    flex-direction: column;
    grid-row: 1/ -6;
}
.vote-item {
    padding: 0.5rem;
    font-size: 1.4rem;
}
.post-profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-profile-header small {
    padding: 1rem;
    margin-right: auto;
    align-items: center;
}
.tag {
    color: rgb(62, 1, 62);
    background-color: rgb(240, 81, 240);
    border: 1px solid rgb(240, 81, 240);
    padding: 0 0.5rem;
    margin: 0.2rem 0.5rem;
    border-radius: 1rem;
}
.post-footer {
    display: flex;
    justify-content: space-between;
    justify-self: stretch;
    
}
.like-comment-share {
    display: flex;
    justify-content: space-between;
    justify-self: stretch;
    width: 100%;
    font-size: 1.4rem;
    cursor: pointer;
}
.upvote:hover {
    color: rgb(42, 239, 42);
    cursor: pointer;
}
.downvote:hover {
    color: rgb(249, 32, 32);
    cursor: pointer;
}
.username {
    color: rgb(241, 67, 241);
}
